


body {
    background-color: rgb(138, 207, 132);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container{
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header{
    padding: 20px 0px 20px 0px;
    text-align: center;
    background-color: gray;
    font-family: 'UD Digi Kyokasho NK-B'
}

.menu ul{
    text-align: center;
    background-color: aquamarine;
    margin: 0px;
    padding: 10px 0px 10px 0px
}

.menu li{
    display: inline;
    margin: 20px;
}

.menu li a{
    color: black
}

.menu li a:hover{
    color: green
}

.contents{
    background-color: wheat;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 20px 0;
    text-align: center
}

.spotlight{
    background-color: aqua;
    border: 1px solid black;
    border-radius: 0;
    padding: 20px 0;
    overflow: auto
}

.container-box{
    background-color: #203040;
    border: 2px solid black;
    border-radius:2px;
}

.box-1{
    overflow: auto;
    background-color: aliceblue;
    padding: 20px 0;
    text-align: center
}

.box-2{
    overflow: auto;
    background-color: azure;
    padding: 20px 0;
    text-align: center
}

.footer{
    background-color: grey
}